<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet"  href="{%  static  'css/add-css.css'  %}">
</head>
<body>
    <div class="login-box">
  <h2>Hey!I'm Fridgy!! Feed me!!</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Add Stuff</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Update
    </a>
    <a href="/..">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      HOME
    </a>
  </form>
</div>

</body>
</html>